# configuration de savscript

# PATH: on doit y trouver rsync, zfs (PATH root + utils)
PATH=/sbin:/bin:/usr/sbin:/usr/bin:/usr/local/sbin:/usr/local/bin

# script zfs_sync_vol
ZFS_SYNC_VOL=$mydir/lib/zfs_sync_vol

# script zfs_snap_make
ZFS_SNAP_MAKE=$mydir/lib/zfs_snap_make

# max n. of concurrent jobs
MAXJOBS=4

# Repertoire a scanner pour la liste des machines (*.conf)
MACHINESDIR=$mydir/machines.d

# repertoire de base pour le stockage temporaire des resultats
TRACESDIRBASE="${TMPDIR:-/tmp}/LOG.SAUV_TRACES"

# repertoire des sauvegardes
SAVDESTBASE="/sav"

# volume zfs des sauvegardes
SAVZFSBASE=$(zfs list -H -o name $SAVDESTBASE)

# mail a prevenir en cas de probleme
ADMINMAIL="admin@chez.moi"

# binaire rsync
RSYNC="/usr/local/bin/rsync"

# options par defaut pour rsync
RSYNC_OPTS="-H -q -aux --delete --exclude .snap/ --exclude .zfs/"

# Cle ssh a utiliser
SSH_KEY=/root/.ssh/id_rsa_sav

# types de filesystems a sauvegarder
FSTYPES=zfs,ufs,ext2,ext3,ext4,ffs,btrfs,xfs,jfs

# syslog facility
SYSLOG_FACILITY=local4

# excludes obligatoires
DEFAULT_EXCLUDES="/mnt .snap/ .zfs/"

# debug (LAISSER 0 ou desactiver le cron !)
# 0: normal (logs standards + problemes)
# 1: desactive la parallelisation
# 2: ajoute un '-v' aux commandes
# 3: sh -x chaque script
DEBUG=0

